h5{
  font-family: 'Playfair Display' ,serif;
  color:#FAC07D;
  font-size: 20px;

}

p{
	font-family: 'Athiti', sans-serif;
  color:#FFFFFF;
  font-size: 18px;
}

.myfont{
	font-family: 'Playfair Display' ,serif;
  color:#5C0000;

}

.my-bg{
background-color: #5C0000;

}
